<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gamagician.dreamland"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Dreamland</name>

    <description>
        Explore dreamlike photos on 500px.com
    </description>

    <author href="https://www.gamagician.com" email="wangwq_net@hotmail.com">
        Wang Weiqiang
    </author>

    <icon src="icon-256.png"/>
    <gap:splash src="cover.png"/>
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <plugin name="SavePhotoPlugin" value="org.apache.cordova.plugin.SavePhotoPlugin"/>
    <plugin name="CanvasPlugin" value="org.apache.cordova.plugin.CanvasPlugin"/>
 
</widget>